
.mi-contenedor{
  border-radius: 15px;
  background-color: #f8f9fad5 !important;
  padding: 25px;
}

div.titular {
  padding: 0px 5px 20px 5px;
}

div.titular h3 {
  font-family: 'DM Serif Display', serif;
  letter-spacing: 5px;
}

button.my-button {
  display: block;
  width: 35%;
  margin: auto;
  min-width: 85px;
}

textarea {
  border: none;
  border-radius: 25px;
  width: 100%;
  padding: 10px;
  height: 120px;
  resize: none;
}

select {
  border: none;
  border-radius: 25px;
  padding: 10px;
}

select:focus {
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid #343a40;
}

textarea:focus {
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid #343a40;
}

label.mi-label {
  margin-left: 15px;
  margin-bottom: 10px;
  display: block;
}

button.popover-button {
  margin-left: 10px;
  border-radius: 100px;
}


div.user-card {
  border-radius: 15px;
  background-color: white;
  height: auto;
  width: 100%;
  margin: 10px 0px 20px 0px;
}


div.image-user {
  height: auto;
  margin: 0px 20px 0px 0px;
}

div.image-user img {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

div.user-name {
  color: #212529;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

h5.nickname {
  cursor: pointer;
  margin: 0;
  padding: 5px 0px;
  font-family: 'DM Serif Display', serif;
}

span.verified {
  color: rgb(36, 202, 202);
  padding: 3px;
}

p.fullname {
  font-size: 16px;
  margin: 0;
}

