<div class="body">

  <div class="container-fluid mi-contenedor p-2">

    <div class="row titular">
      <div class="col-xl-8 col-lg-6 p-0 px-3 d-flex flex-wrap flex-row justify-content-between">
        <h2 class="p-0 m-0">Siguiendo</h2>
      </div>
    </div>

    <div class="row">

      <div class="col-xl-8 col-lg-6">

        <div class="row p-0 d-flex flex-column align-items-center justify-content-center pt-2">
          <!-- darle estilos a este mensaje-->
          <span *ngIf="user" class="user-indicator d-flex align-content-center justify-content-center">
            <p class="d-block m-0"><a [routerLink]="['/perfil', user._id]">{{user.nick}}</a> está siguiendo a</p>
          </span>
        </div>

        <div class="row p-0 d-flex flex-column align-items-center justify-content-center pt-2" *ngIf="following && following.length != 0 ; else noFollowing" >

          <!-- tarjetas de usuarios -->
          <div *ngFor="let follow of following" class="user-card">

            <div class="card-body d-flex justify-content-between" *ngIf="follow.followed != null">
              <!-- nombre e imagen de usuario -->
              <div class="user d-flex align-items-center">
                <div class="image-user">
                  <a [routerLink]="['/perfil', follow.followed._id]"> <!-- para cargar el perfil del usuario -->
                    <img *ngIf="follow.followed.image" src="{{ url + 'get-image-user/' + follow.followed.image }}" alt="user_image">
                  </a>
                </div>

                <div class="user-name">
                  <h5 [routerLink]="['/perfil', follow.followed._id]" class="nickname">{{ follow.followed.nick }} <span class="verified" *ngIf="follow.followed.role == 'ROLE_ADMIN'"> <i class="bi bi-patch-check-fill"></i> </span></h5>
                  <p class="fullname">  {{follow.followed.name + ' ' + follow.followed.surname}}  </p>
                </div>
              </div>

              <!-- botones de seguir y dejar de seguir-->
              <div class="buttons" *ngIf="follow.followed._id != identity._id"> <!-- para que no muestre los botones de seguir en el propio usuario loggeado-->
                <button class="btn user-button boton-seguir btn-sm" *ngIf="follows.indexOf(follow.followed._id) < 0" (click)="followUser(follow.followed._id)">
                  <span class="normal-button"> Seguir </span>
                  <span class="mobile-button"> <i class="bi bi-person-plus"></i> </span>
                </button>

                <button class="btn user-button btn-success btn-sm" *ngIf="follows.indexOf(follow.followed._id) >= 0"
                        (mouseenter)="mouseEnter(follow.followed._id)"
                        (mouseleave)="mouseLeave()"
                        [class.btn-danger]="follow.followed._id == followUserOver"
                        (click)="unfollowUser(follow.followed._id)">

                  <span *ngIf="follow.followed._id == followUserOver; else following">
                    <span class="normal-button"> Dejar de seguir </span>
                    <span class="mobile-button"> <i class="bi bi-person-x"></i> </span>
                  </span>

                  <ng-template #following>
                    <span class="normal-button"> Siguiendo </span>
                    <span class="mobile-button"> <i class="bi bi-person-check"></i> </span>
                  </ng-template>
                </button>
              </div>

            </div>
          </div>
          <!-- fin tarjetas de usuarios -->
        </div>


        <div class="row p-2 pb-3">
          <div class="col-xl-12 d-flex flex-row align-items-center justify-content-center">
            <!--<nav class="m-0" aria-label="Page navigation example">
              <ul class="pagination m-0">
                <li class="page-item " [class.disabled]="page <= 1"> <a class="page-link" [routerLink]="['/gente', prev_page]">Anterior</a></li>
                <li class="page-item" [class.disabled]="pages == page"> <a class="page-link" [routerLink]="['/gente', next_page]">Siguiente</a></li>

                  <li class="page-item" *ngIf="page > 1"> <a class="page-link" [routerLink]="['/gente', prev_page]">Anterior</a></li>
                <li class="page-item" *ngIf="pages != page"> <a class="page-link" [routerLink]="['/gente', next_page]">Siguiente</a></li>

              </ul>
            </nav>-->

              <button class="btn btn-outline-dark d-block m-1" [class.disabled]="page <= 1 || !page" [routerLink]="['/siguiendo', userPageId, prev_page]">Anterior</button>
              <button class="btn btn-outline-dark d-block m-1" [class.disabled]="!pages || pages == page || pages == 1" [routerLink]="['/siguiendo', userPageId, next_page]">Siguiente</button>

          </div>
        </div>
      </div>


      <div class="col-xl-4 col-lg-6 profile">
        <app-sidebar></app-sidebar> <!-- [stats]="stats" -->
      </div>

    </div>

  </div>

</div>

<ng-template #noFollowing>
  <div class="mi-alerta d-flex justify-content-center align-content-center">
    <span class="text-center">No hay usuarios que mostrar</span>
  </div>
</ng-template>
