<div class="main">

  <div class="login-form">

    <!-- no se si te loggeas deberias hacer la redireccion directamente -->
    <div class="alert alert-success" *ngIf="status == 'success' ">
      Contraseña cambiada correctamente
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error' ">
      {{mensajeError}}
    </div>

    <h1 class="titulo mb-4">Cambiar la contraseña</h1>
    <span><p class="text-center text-dark">Introduce una nueva contraseña</p></span>

    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()"> <!-- aqui tengo que meter el form  group si hago los forms reactivos-->

      <div class="form-group">
        <input type="password" name="pass" id="pass" placeholder="PASSWORD" formControlName="password" required>

        <!-- validaciones campo password -->
        <div *ngIf="password.invalid && (password.dirty || password.touched)">
          <small class="text-danger"
            *ngIf="password.errors?.required">
            La contraseña es obligatoria.
          </small>
          <small class="text-danger"
              *ngIf="password.errors?.minlength">
              <p>La contraseña no tiene {{changePasswordForm.get('password').errors.minlength.requiredLength}} caracteres mínimo.</p>
          </small>
        </div>
      </div>

      <div class="form-group mt-3">
        <button type="submit" class="btn btn-outline-dark my-button" [disabled]="!changePasswordForm.valid">CAMBIAR</button>
      </div>

    </form>

  </div>

</div>
