<div class="main">

  <div class="login-form">

    <!-- no se si te loggeas deberias hacer la redireccion directamente -->
    <div class="alert alert-success" *ngIf="status == 'success' ">
      Revisa tu email para poder cambiar tu contraseña
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error' ">
      {{mensajeError}}
    </div>

    <h1 class="titulo mb-4">Contraseña olvidada</h1>

    <span><p class="text-center text-light">Te enviaremos un email con un link para poder cambiar la contraseña</p></span>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()"> <!-- aqui tengo que meter el form  group si hago los forms reactivos-->
      <div class="form-group mail">
        <input type="text" name="mail" id="mail" placeholder="E-MAIL" formControlName="email">

        <!-- validaciones campo email -->
        <div *ngIf="email.invalid && (email.dirty || email.touched)">
          <small class="text-danger"
            *ngIf="email.errors?.required">
            El email es obligatorio.
          </small>
          <small class="text-danger"
              *ngIf="email.errors?.pattern">
              El email no es correcto.
          </small>
        </div>
      </div>

      <div class="form-group mt-3">
        <button type="submit" class="btn btn-outline-light my-button" [disabled]="!forgotPasswordForm.valid">ENVIAR</button>
      </div>

    </form>

  </div>

</div>
